# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ipynb_checkpoints/

# Virtual env
venv/
.venv/
env/

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# Cache der API
data/cache/
*.cache.json

# Jupyter
.ipynb_checkpoints

# PyInstaller-Builds (Artefakte, nicht versionieren)
build/
dist/
venv-build/
